@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

:root {
  --primary-violet: hsl(263, 55%, 52%);
  --primary-grayish-blue: hsl(217, 19%, 35%);
  --primary-blackish-blue: hsl(219, 29%, 14%);
  --primary-white: hsl(0, 0%, 100%);

  --neutral-gray: hsl(0, 0%, 81%);
  --neutral-grayish-blue: hsl(210, 46%, 95%);
}

main {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--neutral-grayish-blue);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  max-width: 1900px;
}

.my-grid {
  padding: 6rem 2rem 4rem 2rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}

@media (min-width: 1280px) {
  .my-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    gap: 2rem;
    padding: 10rem;
    max-width: 1100px;
  }
}

.card {
  background-color: var(--primary-white);
  padding: 2rem;
  padding-bottom: 2.4rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .card {
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.graduate-profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.graduate-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  height: 2.6rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 50%;
}

p {
  padding-top: 1.4rem;
}

.highlight {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
}

.quote {
  opacity: 70%;
  line-height: 1.6rem;
}

.violet {
  background-color: var(--primary-violet);
  color: var(--primary-white);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.gray {
  background-color: var(--primary-grayish-blue);
  color: var(--primary-white);
}

.black {
  background-color: var(--primary-blackish-blue);
  color: var(--primary-white);
}

.white {
  background-color: var(--primary-white);
  color: var(--primary-blackish-blue);
}

@media (min-width: 1280px) {
  .violet {
    grid-area: daniel;
  }
  .gray {
    grid-area: jonathan;
  }
  .black {
    grid-area: patrick;
  }
  #kira-whittle {
    grid-area: kira;
  }
  #jeanette-harmon {
    grid-area: jeanette;
  }
}
